.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  width: 700px;
  padding: 20px;
  background-color: #fff;
}

.modal.loader {
  background-color: transparent;
}
