.input-field {
  flex: 0 0 48%;
  position: relative;
  input,
  textarea,
  select,
  .create-btn {
    padding: 10px 20px;
    margin: 10px 0;
    background-color: transparent;
    border: 0;
    border-bottom: 2px solid #e65100;
    width: 90%;
    box-sizing: border-box;
    outline: none;
    font-size: 20px;
  }

  input,
  select {
    padding: 20px 0 15px;
  }

  > span {
    position: absolute;
    left: 0;
    bottom: -10px;
    color: red;
    font-size: 15px;
  }

  .touch {
    background-color: #ff0;
  }
}

.input-field-select {
  flex: 1;
  position: relative;
  select {
    padding: 10px 20px;
    margin: 10px 0;
    outline: none;
    border: 0;
    border-bottom: 2px solid #e65100;
    background-color: transparent;
    width: 100%;
    box-sizing: border-box;
    font-size: 20px;
  }
  > span {
    position: absolute;
    left: 0;
    bottom: -10px;
    color: red;
    font-size: 15px;
  }
}
