.users-list {
  ul {
    list-style: none;
    padding: 0;
    li {
      background-color: #f17228;
      padding: 10px;
      border-radius: 5px;
      margin-bottom: 5px;
      display: flex;
      align-items: center;

      .user-name {
        flex: 1 1 80%;
        color: #fff;
        padding-left: 10px;
        text-transform: capitalize;
      }
    }
  }
}
