div {
  flex: 1 1 100%;
  width: 100%;
  .add-user-btn {
    background-color: #2196f3;
    border-radius: 50%;
    border: 0;
    width: 40px;
    height: 40px;
    float: right;
    outline: none;

    i {
      color: #fff;
    }
  }
  .create-btn {
    padding: 10px 20px;
    margin: 10px 0;
    border: 0;
    width: 100%;
    box-sizing: border-box;
    background-color: #2196f3;
    outline: none;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    border-radius: 5px;
  }

  .close-btn {
    position: absolute;
    top: -30px;
    right: -30px;
    border: 0;
    border-radius: 50%;
    width: 28px;
    height: 28px;
    outline: none;
    background-color: #2196f3;

    i {
      font-size: 14px;
      color: #fff;
    }
  }

  .btn-group {
    display: flex;
    flex: 0 0 10%;
    .btn {
      border: 0;
      text-transform: uppercase;
      background-color: transparent;
      color: #fff;
      font-weight: 600;
      cursor: pointer;
      padding: 5px 10px;
      box-sizing: border-box;
      outline: none;
    }
  }
}
