.error-handler {
  width: 100%;
  padding: 10px 20px;
  text-align: center;
  background-color: #efc1c1;
  border-radius: 5px;
  border: 2px solid #cc0000;
  color: #fff;
  font-size: 20px;
  box-sizing: border-box;
}
