.btn-group-confirm {
  display: flex;
  float: right;
  width: 30%;
  div {
    text-align: center;
    .accept-btn,
    .cancel-btn {
      border: 0;
      padding: 10px 20px;
      box-sizing: border-box;
      flex: 1;
      background-color: transparent;
      border-radius: 5px;
      border: 1px solid #000;
      transition: 0.3s ease-in-out;
      font-size: 18px;
      &:hover {
        background-color: #2196f3;
        color: #fff;
      }
    }
  }
}
